.header {
  /*background-color: $secondary-background-color;*/
  /*height: 100px;*/

  &__logo-img {
    height: 80px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__nav-list {
    list-style: none;
    display: flex;
    gap: 2rem;

    li a {
      text-decoration: none;
      color: $primary;
      font-weight: 600;
      transition: color 0.3s ease;

      &:hover {
        color: $primary;
      }
    }
  }
}
