// Estilos globales
/** {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}*/

.poster {
  background-color: $primary-bg-2;
  padding: 2rem 0 1rem;

  &__container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
  }
  &__title,
  &__subtitle {
    background-color: $primary;
    color: $light;
    /*line-height: 1.5;
    padding-left: 2rem;*/
    width: 100%;
    text-align: center;
  }

  &__idea {
    width: calc(20% - 1rem);
    text-align: center;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: 2px solid;
    border-radius: 15px;
    padding: 0.5rem;
  }
  &__idea-i {
    font-size: 3rem;
  }
  &__image {
    display: block;
    width: calc(50% - 1rem);
    object-fit: cover;
    border-radius: 10px;
    max-height: 60vh;
  }
  &__text {
    display: block;
    width: calc(50% - 1rem);
    background-color: $primary-bg-3;
    border-radius: 15px;
    padding: 1rem 1rem 3rem 1rem;
    max-height: 60vh;
    overflow: hidden;
    position: relative;
  }
  &__join {
    width: calc(100% - 2rem);
    background-color: $primary-bg-3;
    position: absolute;
    bottom: 1rem;
    text-align: right;
  }
}

@supports (display: grid) {
  @media (min-width: 1000px) {
    .poster {
      &__container {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(5, auto);
        gap: 1rem;
        align-items: center;
        overflow: hidden;
      }

      &__image {
        grid-column: 1 / 3;
        grid-row: 1 / 5;
        max-width: 100%;
        width: 100%;
        height: 100%;
      }

      &__title {
        grid-column: 3 / -1;
        grid-row: 1;
      }

      &__subtitle {
        grid-column: 1 / 6;
        grid-row: 5;
      }

      &__text {
        grid-column: 6 / 8;
        grid-row: 2 / -1;
        width: 100%;
        height: 100%;
      }

      &__idea {
        display: flex;
        max-width: 100%;
        width: 100%;
      }

      &__topidea {
        grid-column: 4;
        grid-row: 2;
      }

      &__rightidea {
        grid-column: 5;
        grid-row: 3;
      }

      &__bottomidea {
        grid-column: 4;
        grid-row: 4;
      }

      &__leftidea {
        grid-column: 3;
        grid-row: 3;
      }

      &__centeridea {
        grid-column: 4;
        grid-row: 3;
        font-size: 4rem;
        text-align: center;
      }
    }
  }
}
