@layer join.base, join.layout, join.components, join.utilities;

@function item-size($cols, $gap) {
  @return calc(#{100 / $cols}cqw - #{($cols - 1) / $cols} * #{$gap});
}

@layer join.base {
  .registration {
    // resets locales o reglas generales
    box-sizing: border-box;
  }
}

@layer join.layout {
  .registration {
    padding-top: 2rem;

    &__container {
      /*max-width: 600px;*/
    }

    &__form {
      background-color: $primary-bg-3;
      padding: 2rem;
      border-radius: 1rem;
      /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);*/
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }
  }
}

@layer join.components {
  .registration {
    &__title {
      background-color: $primary;
      color: $primary-alt;
      width: 100%;
      text-align: center;
    }

    &__intro {
      font-size: 1rem;
      margin-bottom: 2rem;
      color: $primary;
    }

    &__captcha {
      display: flex;
      flex-wrap: wrap;
      gap: 0.4rem;
      container-type: inline-size;
      max-width: 800px;
      margin: auto;
    }

    &__captcha-item {
      width: item-size(8, 0.4rem);
      height: item-size(8, 0.4rem);
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid $primary;
      border-radius: 0.5rem;
      font-size: 2rem;

      @container (max-width: 500px) {
        width: item-size(4, 0.4rem);
        height: item-size(4, 0.4rem);
      }
    }

    &__captcha-alert {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__submit {
      width: 100%;
      font-weight: 600;
    }
  }
}
@layer join.utilities {
  .captcha-color1 {
    background-color: color(display-p3 1 0.08 0); /*ROJO*/
  }
  .captcha-color2 {
    background-color: hwb(133 4% 36%); /*VERDE*/
  }
  .captcha-color3 {
    background-color: lab(55 -5.17 -60); /*AZUL*/
  }
  .captcha-color4 {
    background-color: lch(88% 121 86); /*AMARILLO*/
  }
}
