.speakers {
  background-color: $secondary-bg;
  padding: 2rem 0 2rem;

  &__intro {
    margin-bottom: 1rem;
  }

  &__title {
    /*font-size: 2.5rem;
    font-weight: bold;*/
    background-color: $primary;
    color: $light;
    width: 100%;
    text-align: center;
  }

  &__description {
    /*font-size: 1.125rem;
    color: #555;
    max-width: 700px;
    margin: 0 auto;*/
    background-color: $tertiary-bg;
    text-align: center;
    border-radius: 15px;
    padding: 1rem;
  }

  &__grid {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
  }
}

.speaker-card {
  /*flex: 1 1 calc(25% - 2rem);*/
  max-width: calc(25% - 2rem);
  /*display: flex;*/
  /*flex-direction: column;*/
  background-color: $tertiary-bg;
  /*border: 1px solid #ddd;*/
  /*border-radius: 0.5rem;*/
  /*overflow: hidden;*/
  /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);*/
  /*line-height: 1.5;*/

  /*TODO definirlos conforme a los saltos de boostrap, o mejor refiriendo al tamaño del contenedor en lugar del viewport */
  @media (max-width: 1200px) {
    /*flex: 1 1 calc(50% - 2rem);*/
    max-width: calc(33.333% - 2rem);
  }
  @media (max-width: 992px) {
    /*flex: 1 1 calc(50% - 2rem);*/
    max-width: calc(50% - 2rem);
  }

  @media (max-width: 576px) {
    /*flex: 1 1 100%;*/
    max-width: 100%;
  }

  &__photo {
    /*width: 100%;*/
    height: 260px;
    object-fit: cover;
  }

  &__content {
    /*padding: 1.5rem;*/
  }

  &__name {
    font-size: 1.5rem;
    font-weight: 600;
  }

  &__position {
    font-style: italic;
    /*color: $secondary;*/
    margin-bottom: 1rem;
  }

  &__bio {
    /*font-size: 0.95rem;*/
    /*line-height: 1.5;*/
  }
}

/*.speakers {
  &__intro {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
  }

  &__title {
    font-size: 2.5rem;
    font-weight: bold;
  }

  &__description {
    font-size: 1.125rem;
    color: #555;
    max-width: 700px;
    margin: 0 auto;
  }

  &__list {
    margin-bottom: 4rem;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
  }
}

.speaker-card {
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;

  &__photo {
    width: 100%;
    height: 240px;
    object-fit: cover;
  }

  &__content {
    padding: 1.5rem;
  }

  &__name {
    font-size: 1.25rem;
    font-weight: 600;
  }

  &__position {
    font-style: italic;
    color: #6c757d;
    margin-bottom: 0.5rem;
  }

  &__bio {
    font-size: 0.95rem;
    line-height: 1.5;
  }
}*/

/*.speakers {
  &__intro {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
  }

  &__title {
    font-size: 2.5rem;
    font-weight: bold;
  }

  &__description {
    font-size: 1.125rem;
    color: #555;
    max-width: 700px;
    margin: 0 auto;
  }

  &__list {
    margin-bottom: 4rem;
  }
}

.speaker {
  &__photo {
    object-fit: cover;
    height: 280px;
  }

  &__body {
    background-color: #f9f9f9;
  }

  &__name {
    font-size: 1.5rem;
    font-weight: 600;
  }

  &__position {
    font-style: italic;
    color: #6c757d;
  }

  &__bio {
    font-size: 0.95rem;
    line-height: 1.5;
  }
}
*/
