<footer class="footer">
  <div class="container footer__container">
    <p class="footer__text">2025 - jbenita - Herramientas HTML y CSS 2 - P2 - UOC</p>
    <div class="footer__logo">
      <a href="index.html"><img src="./assets/images/logo.png" alt="Logo" class="header__logo-img"></a>
    </div>
    <nav class="footer__nav">
      <ul class="footer__nav-list">
        <li><a href="speakers.html">Ponentes</a></li>
        <li><a href="article.html">Información</a></li>
        <li><a href="page4.html">Inscripción</a></li>
      </ul>
    </nav>
    <div class="footer__social">
      <p>TODO SOCIAL</p>
    </div>
  </div>
</footer>