<main class="poster">
  <div class="container poster__container">

    <h1 class="poster__title">Jornadas de Economía Circular</h1>
    <div class="poster__idea"><i class="poster__idea-i fa-solid fa-brain"></i>
      <span class="poster__idea-name">Repensar</span>
    </div>
    <div class="poster__idea"><i class="poster__idea-i fa-solid fa-minimize"></i>
      <span class="poster__idea-name">Reducir</span>
    </div>
    <div class="poster__centeridea"><i class="poster__idea-i fa-solid fa-arrows-spin"></i></div>
    <div class="poster__idea">
      <span class="poster__idea-name">Reutilizar</span>
      <i class="poster__idea-i fa-solid fa-people-arrows"></i>
    </div>
    <div class="poster__idea">
      <span class="poster__idea-name">Recircular</span>
      <i class="poster__idea-i fa-solid fa-recycle"></i>
    </div>
    <img class="poster__image" src="assets/images/home.jpg" alt="Ilustración abstracta sobre economía circular" />
    <div class="poster__text-container">
      <p class="poster__text">
        Descubre cómo la economía circular está transformando el futuro hacia un modelo más sostenible, eficiente y
        responsable con el planeta. Estas jornadas te invitan a reflexionar sobre nuevas formas de producir, consumir
        y reutilizar los recursos, con el objetivo de reducir el impacto ambiental y fomentar la innovación social y
        tecnológica.<br />
        Te esperamos para compartir experiencias, casos de éxito y propuestas transformadoras que están marcando la
        diferencia en sectores clave.
      </p>
      <div class="poster__join">
        <a class="btn btn-primary" href="join.html" role="button">Quiero inscribirme</a>
      </div>
    </div>

    <h2 class="poster__subtitle">2025 - Cádiz, del 1 al 10 de mayo</h2>
  </div>

</main>